.firstscreen {
  &-qrcode {
    width: 10rem;
    height: 10rem;
    padding: 2rem;
  }

  &-pattern {
    position: absolute;
    inset: 0;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);

    &-phone {
      position: absolute;
      width: 24rem;
      height: 48rem;
      border: 2px dashed black;
      top: 50%;
      left: 50%;
      border-radius: 4rem;
      transform: translate(-50%, -50%);

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}