@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('assets/fonts/Roboto-Regular.ttf');
}

html, body, #root {
  font-size: 16px;
  font-family: 'Roboto'
}

.app {
  position: absolute;
  inset: 0;

  button {
    padding: 2rem;
  }
}